.text-editor {
  min-width: 100%;
  margin: 0 auto;
}
.ql-editor {
  min-height: 300px;
  height: 300px;
}

.ql-divider {
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: #00000091;
  transform: translate(-6px, 4px);
}
