@use "../../../assets/scss/media-queries.scss" as *;

.main {
  width: 100%;
}

.content {
  padding: 150px 50px 0px 50px;
  margin: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @include lt-xxl {
    padding: 130px 100px 20px 100px;
  }
}

.container {
  background: rgba(245, 130, 68, 0.29);
  box-shadow: 0px 4px 6px 0px rgba(65, 161, 160, 0.04);
  border-radius: 21px 0px 21px 21px;
  border: none;
  padding: 20px;

  @include lt-xxl {
    padding: 15px;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 70%;
}

// ###################################### SECOND SECTIONS ######################################

.content2 {
  padding: 40px 50px 0px 50px;

  @include lt-xxl {
    padding: 40px 40px 0px 40px;
  }
}

.container2 {
  width: 100%;
}

.display {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-height: 1000px;
  height: fit-content;

  @include lt-xxl {
    max-height: 800px;
  }
}

.jobs {
  width: 30%;
  // overflow-y: scroll;
  overflow-x: hidden;

  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 6px 0px rgba(65, 161, 160, 0.04);
  border-radius: 21px 0px 0px 21px;
}

.one_job {
  width: 70%;
  padding: 20px;
  overflow-y: scroll;

  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.container3 {
  width: 100%;
  padding: 0px 50px 50px 50px;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  margin-top: 20px;

  .part1 {
    width: 30%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include lt-xxl {
      height: 60px;
    }

    span {
      color: #000;
      font-size: 22px;
      font-family: Nunito;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      display: block;
      cursor: pointer;

      @include lt-xxl {
        font-size: 20px;
      }

      &:hover {
        color: var(--main);
      }
    }

    .active {
      color: var(--main);
    }

    .num-page {
      margin: 0px 10px;

      @include lt-xxl {
        margin: 0px 8px;
      }
    }

    .next-page {
      margin: 0px 30px;

      @include lt-xxl {
        margin: 0px 20px;
      }
    }
  }

  .part2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .action-btn {
      padding: 13px 20px;
      min-width: fit-content;
      color: black;
      font-weight: 600;

      @include lt-xxl {
        padding: 13px 20px;
      }
    }

    .view-cover {
      border-radius: 500px;
    }

    .black-btn {
      background-color: #1b1c1e;
      color: white;
      border: solid 1px #1b1c1e;
      margin: 0px 0px 0px 20px;
    }
  }
}
