@use "../../assets/scss/media-queries.scss" as *;

.main {
  padding: 100px 360px;
  margin-top: 100px;

  @include lt-xxl {
    padding: 70px 250px;
    margin-top: 85px;
  }

  @include lt-llg {
    padding: 70px 170px;
    margin-top: 70px;
  }

  .c1 {
    position: absolute;
    left: 0px;
    top: 100%;

    @include lt-xxl {
      width: 80px;
    }

    @include lt-llg {
      width: 70px;
    }
  }

  .c2 {
    position: absolute;
    right: 0px;
    top: 85%;

    @include lt-xxl {
      width: 80px;
    }

    @include lt-llg {
      width: 70px;
    }
  }
}

.main-content {
  padding: 70px 0px;

  .h1 {
    font-size: 52px;
 
    @include lt-xxl {
      font-size: 50px;
    }
    @include lt-llg {
      font-size: 46px;
    }
  
  }

  @include lt-xxl {
    padding: 50px 0px;
  }

  @include lt-llg {
    padding: 30px 0px;
  }
}

.form {
  width: 100% !important;
}

.terms {
  width: 100%;
  padding: 20px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include lt-xxl {
    padding: 30px 0px 0px 0px;
  }

  @include lt-llg {
    padding: 20px 0px 0px 0px;
  }

  input {
    width: 23px;
    height: 23px;

    border: 2px solid #000000;
    border-radius: 4px;

    @include lt-xxl {
      width: 20px;
      height: 20px;
    }
  }

  input[type="checkbox"]:checked {
    accent-color: var(--main);
  }

  span {
    font-family: "Futura";
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;

    color: #000000;
  }

  .orange {
    color: var(--main);
    text-decoration: underline;
    cursor: pointer;
  }
}

.next {
  margin: 30px 0px;
  padding: 25px 50px;
  font-size: 25px !important;
  width: 100% !important;

  display: flex;
  align-items: center;
  justify-content: center;

  @include lt-xxl {
    font-size: 17px !important;
  }
  @include lt-llg {
    font-size: 16px;
  }
  img {
    margin: 0px 5px;
    display: block;
    height: 15px;

    @include lt-xxl {
      height: 12px;
    }
  }
}
