@use "../../assets/scss/media-queries.scss" as *;

.main {
  width: 100%;
}

.content {
  margin: 100px 0px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.info-part {
  width: 80%;
  .c1 {
    width: 41px;
    position: absolute;
    right: 40%;
    top: 10px;
  }
  .info-part-freq {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;

    h1 {
      color: #000;
      font-family: Futura;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
    }
  }

  h2 {
    color: #000;
    font-family: Futura;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    margin: 1.5rem 0 2.5rem 0;
  }

  h3 {
    color: #000;
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
  }
  h4 {
    color: #000;
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
  }
  p {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin: 0px 0px 20px 0px;
  }

  .form {
    width: 100% !important;
    margin: 20px auto;

    .input {
      font-size: 14px;
      ::placeholder {
        color: rgba(0, 0, 0, 0.2);
        font-family: Futura PT;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
      }
      label {
        margin-bottom: 20px;
        display: block;
        font-size: 14px;
      }

      div {
        border-radius: 8px;
        overflow: hidden;
      }
      input {
        padding: 10px 8px;
        font-size: 14px;
        ::placeholder {
          color: rgba(0, 0, 0, 0.2);
          font-family: Futura PT;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }

    .btn {
      width: 100%;
    }
  }
}
